body {
  margin: 0;
  background: #000;
  background-color: #1b1b1b;
  color: white;
  /* disable scrolling on all pages*/
  /* overflow: hidden; */
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('vid/sitejpg.jpg') no-repeat;
    background-size: cover;
    opacity: .7;
    transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#maindiv {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  /* background: rgba(0,0,0,0.8); */
  color: white;
  padding: 2rem;
  width: 33%;
  margin: auto;
  text-align: center;
  margin-top: 18%;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#maindiv button {
  display: block;
  width: 30%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
#maindiv button:hover {
   background: rgba(0,0,0,0.5);
}

#aboutdiv {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 66%;
  height: 50%;
  margin: auto;
  text-align: center;
  margin-top: 10%;
  font-size: 1.2rem;

}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/maindiv.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
